<body>
  <div class="content">
    <div class="slides">
      <input type="radio" name="carrocel" id="slide1" checked>
      <input type="radio" name="carrocel" id="slide2">
      <input type="radio" name="carrocel" id="slide3">

      <div class="slide  s1">
        <img src="/assets/capa1.jpg">
      </div>
      <div class="slide">
        <img src="/assets/capa2.png">
      </div>
      <div class="slide">
        <img src="/assets/capa3.jpg">
      </div>

      <div class="nav">
        <label class="bar" for="slide1"></label>
        <label class="bar" for="slide2"></label>
        <label class="bar" for="slide3"></label>
      </div>

    </div>
  </div>
</body>